* {
  margin: 0o;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin: 20px;
}

.image {
  text-align: center;
}

.title {
  display: block;
  color: navy;
}

.price {
  color: orange;
}

.sub-container {
  text-align: center;
}