.product-container{
    display: grid; /*요소를 grid로 설정*/
    grid-template-columns: repeat(4, 1fr); /*grid-template-columns 속성을 사용해 열의 개수와 너비 조정*/
    grid-gap: 10px; /*이미지 사이 간격 조정*/
}

.product-container img {
    width: 200px;
    height: 200px;
    display: grid;
    grid-gap: 10px;
    cursor: pointer;

}

#titletxet_id{
    cursor: pointer;
    color: rgb(102, 102, 251);
}

#pricetxet_id{
    cursor: pointer;
    color: rgb(252, 89, 89);
}


