.a {
  border: 7px solid red;
}

.b {
  border: 7px solid orange;
}

.c {
  border: 7px solid yellow;
}

.d {
  border: 7px solid green;
}

.e {
  border: 7px solid darkgreen;
}

.f {
  border: 7px solid skyblue;
}

.g {
  border: 7px solid blue;
}

.h {
  border: 7px solid purple;
}

.i {
  border: 7px solid gold;
}


